 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Raleway:wght@100..900&family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/*ALL*/
* {
    font-family: "dm sans";
    color: rgb(117, 117, 117);
    
}

html,body {
    margin: 0rem;
    padding: 0rem;
    border: 0rem;
    background-color: rgba(0, 0, 0, 0.0);
}

/* HEADER */
.header {
    z-index: 10;
    
}

.nevim {
    z-index: 99999;
    
}

.par {
    display: flex;
    justify-content: space-between;
    padding: 0vw 0vw 0vw 0vw;
}

.nevim {
    z-index: 99999;
    position: fixed;
    width: 100%;
    top: 0;
}

.nadpis {
    z-index: 99999;    
    top: 5vw;
    display: flex;
    justify-content: space-between;
    background-image: url(obrazky/Layer\ 3.png);
    background-color: rgb(136, 136, 136);
    background-blend-mode: multiply;
    
}

.boxx {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 0vw;
}

.parr {
    width: 1.2rem;
    z-index: 1;
    align-items: center;
}

.oballl {
    z-index: 1;
    padding: 0vw 1.2rem 0vw 1.2rem;
    display: flex;
    align-items: center;
}

.oballll {
    z-index: 1;
    margin-right: 2.76rem;
    padding: 0vw 1.2rem 0vw 1.2rem;
    display: flex;
    align-items: center;
    padding-right: 3.36rem;
}

.negr {
    align-content: center;
    z-index: 2;
    padding-right: 1.2rem;
    font-size: 0.96rem;
    font-weight: 700;
}

.ne {
    padding: 0.9rem 1.2rem 0.9rem 1.2rem;
    text-decoration: none;
    transition: all 0.7s ease-in-out;
}

.a {
    padding: 5rem;
    transition: all 0.7s ease-in-out;
}

.ne:hover {
    background-blend-mode: screen;
    background-color: rgba(173, 173, 173, 0.15);
    position: relative;
    bottom: 0.18rem;
    background-blend-mode: screen;
    
    transition: all 0.7s ease-in-out;
}

.loga {
    z-index: 2;
    
    display: flex;
    flex-shrink: 0;
    align-self: center;
    
    
    
}

.logo {
    max-width: 420px;
    width: 8.4rem;
    padding: 1.2rem 0vw 1.2rem 1.2rem;
}

.img {
    display:inline;
    width: 12rem;
    flex-shrink: 0;
    align-self: center;
    padding-left: 0.36rem;
}




/*MAIN CONTENT*/
.kon {
    position: relative;
    background-color: rgb(0, 0, 0, 0.0);
    background-image:   url(obrazky/hkbj-Recoverexxxxxxxxxxxxxxx.png);
    background-blend-mode: multiply;
    background-size: 100%;
    margin-top: 5vw;
    padding: 10vw 0vw 21vw 0vw;
    z-index: 500;
    
}

.textq {
    z-index: 30;
    position: relative;
    text-align: center;
    font-size: 3.4vw;
    margin-top: -0.0vw;
    color: rgb(236, 236, 236);
    font-weight: 800;
    margin: 0vw 30vw 3vw 30vw;
}

.textw {
    z-index: 30;
    position: relative;
    text-align: center;
    color: rgb(235, 235, 235);
    font-size: 2vw;
    font-weight: 300;
    box-sizing: border-box;
    
    margin: 0vw 16vw;
}

.test {
   
    display: inline;
    width: 100%;
    z-index: -10;
    background-color: rgb(0, 0, 0);
    background-image: url(obrazky/testtest-Recoveredeeeeeeeeeeeeeeeee.png);
    background-blend-mode: multiply;
    /*bottom: 6.25rem;*/
    margin-top: -25vw;
    
}


.logoo {
    z-index: -10;
    position: relative;
    background-color: rgba(161, 161, 161, 0);
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    /*bottom: 34.375rem;*/
    margin-top: -30vw;
    }   

.text {
    color: rgb(167, 167, 167);
    font-size: 3vw;
    text-align: center;
    position: relative;
    padding-top: 20vw;
    margin-top: -5vw;
    z-index: 20;
}

.center {
    display: flex;
    justify-content: center;
}

.boxer {
    justify-self: center;
    width: 68vw;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    padding-bottom: 10vw;
}

.boxík {
    z-index: 20;
    inline-size: 30vw;
    padding: 1vw;
    margin: 1vw;
    background-color: rgb(54, 54, 54);
    overflow-wrap: break-word;
    border-radius: 1vw;
}

.boxíkk {
    z-index: 20;
    inline-size: 30vw;
    padding: 1vw;
    margin: 1vw;
    background-color: rgb(54, 54, 54);
    overflow-wrap: break-word;
    border-radius: 1vw;
    height: 25vw;
}

.hrefboxik {
    width: 100%;
    height: 100%;
    display: block;
    
}   

.boxíkkk {
    transform: translatey(-14vw);
    z-index: 20;
    inline-size: 30vw;
    padding: 1vw;
    margin: 1vw;
    background-color: rgb(54, 54, 54);
    overflow-wrap: break-word;
    border-radius: 1vw;
    height: 25vw;
}

.obrazek {
    z-index: 5;
    width: 30vw;
    height: auto;
    border-radius: 0.5vw;
}

.obrazektop {
    
    z-index: 20;
    width: 30vw;
    border-radius: 0.5vw;
    position: absolute;
    opacity: 0;
    transition: all 0.7s ease;
}

.obrazektop:hover {
    opacity: 1;
}

.mezi {
    display: flex;
    justify-content: end;
    transition: all 0.7s ease-in-out;
}

.více {
    
    padding-right: 2rem;
    align-self: self-end;
    width: 4vw;
}

.boxík:hover>.mezi {
    transform: translateX(2rem);
    
}

.textnadf {
    display: inline-block;
    font-size: 2vw;
    margin: 0vw;
    overflow-wrap: break-word;
    color: rgb(179, 179, 179);
    text-decoration: none;
}

.textpod {
    display: inline-block;
    font-size: 1vw;
    overflow-wrap: break-word;
    color: rgb(146, 146, 146);
}


.vsee {
    z-index: 10;
    
    background-image: url(obrazky/testtest-Recoveredeeeeeeeeeeeeeeeee.png);
    background-size: 100%;
    background-position: 0vw -25vw;
    
}




/*FOOTER*/
.nadpisx {
    display: flex;
    justify-content: space-between;
    background-image: url(obrazky/hkbj-Recoverednnnnnnnnnnnnnn.png);
    background-blend-mode: multiply;
    background-color: rgb(87, 87, 87); 

}

.logax {

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: start;
    flex-shrink: 0;

    padding: 1.5vw 0vw 0vw 16.6vw;

}

.imgx {
    display:inline;
    width: 10vw;
    flex-shrink: 0;
    align-self: center;
    padding-bottom: 0.45vw;
}

.logox {
    width: 6vw;
    padding-bottom: 0.45vw;
}

.textík {
    padding-top: 4vw;
    padding-left: 3vw;
    font-size: 0.5vw;
}

.obal {
    display: flex;
    font-size: 1vw;
}

.ico {
    display: flex;
    flex-direction: column;
    padding-right: 5vw;
    justify-content: flex-end;
}

.nezz {
    padding: 1.25vw 1vw 1.9vw 1vw;
}

.negrx {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 2;
    padding-right: 16.6vw;
    transition: all 0.7s ease-in-out;
}

.negrxx {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 2;
    padding-right: 5vw;
    padding-bottom: 2vw;
}

.nex {
    padding: 1.5vw 0vw 0.25vw 0vw;
    text-decoration: none;
    font-weight: 1000;
    font-size: 1vw;
    border-bottom: 2px solid rgb(116, 116, 116);
}

.nexxx {
    padding: 1.5vw 9vw 0.25vw 0vw;
    text-decoration: none;
    font-weight: 1000;
    font-size: 1vw;
    border-bottom: 2px solid rgb(116, 116, 116);
}

.oball {
    display: flex;
    align-items: center;
    padding: 1vw 0vw 0vw 0vw;
}

.neyy {
    padding: 0vw 0vw 0vw 1vw;
    
    font-size: 0.9vw;
}

.neyyyyy {
    padding: 0vw 0vw 0vw 1.2rem;
    font-weight: 700;
    font-size: 0.96rem;
}

.telefon {
    width: 1vw;
    align-self: center;
}

.ney {
    display: inline;
    padding: 1.5vw 1vw 1.5vw 1vw;
    text-decoration: none;
}

.nez {
    padding: 0.75vw 1vw 1.5vw 1vw;
    text-decoration: none;
}

.nexx {
    padding: 1.5vw 2vw 0.25vw 0vw;
    text-decoration: none;
    font-weight: 1000;
    font-size: 1vw;
    border-bottom: 2px solid rgb(116, 116, 116);
}

.neyyy {
    display: inline;

    text-decoration: none;
    font-size: 0.9vw;
}

.neyyyy {
    font-size: 0.9vw;
    display: inline;

    text-decoration: none;
}

